h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.android {
	/*since android class is the container, i used this to display flex*/
	display: flex;
	/*i made the container into a column to stack the items on top of each other*/
	flex-direction: column;
}


/*animation change of color*/
@keyframes head {
	from {background-color: #5f93e8;}
	to {background-color: #FF5959;}
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	transition: all 2s linear;
} 

.eyes {
	/*by turning the eyes class into a display flex, it created the left eye and right eye into one row*/
	display: flex;
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
    /*animation added to change color on head class when hover*/
    animation-name: head;
	animation-duration: 2s;
	/*animation added to move head to the right by 200px*/
	transform: translateX(200px);
}

.upper_body { 
	width: 300px; 
	height: 150px;
	/*the upper body class was on the left of the screen so i created its own flexbox and align itself to center*/
	display: flex;
	align-self: center;
	transition: all 2s linear;
}

.upper_body:hover {
	transform: translateX(200px);
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.left_arm:hover {
	/*animation added to move left arm*/
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.right_arm { 
	margin-left: 10px; 
} 

.right_arm:hover {
	/*animation added to move right arm*/
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.torso:hover {
	/*animation added to turn torso upside down*/
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	/*the left_leg and right_leg were in a column position so i used flexbox to turn them into a row*/
	display: flex;
	flex-direction: row;
	transition: all 2s linear;
}

.lower_body:hover {
	-webkit-transform: translateX(200px);
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
	-ms-transform: translateX(200px);
	transform: translateX(200px);
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





